<%# The answer.html.erb will display the question you ask your coach as well as his answer.
The controller will need to read the question from params and compute an instance variable @answer for the view to display.
Here are two requests that you should be able to handle:
localhost:3000/answer?question=hello
localhost:3000/answer?question=what time is it? %>

<h1 class="ps-5">Stupid coaching</h1>

<p class="px-5 pt-5"><%= @question %></p>
<p class="px-5"><%= @answer %></p>

<p class="p-5"><%= link_to "Ask a new question", ask_path %>
</p>
